<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.olivier.bellemaison.DB.Controller.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/ppp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>select_servlet</servlet-name>
        <servlet-class>com.olivier.bellemaison.DB.Controller.select_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>select_servlet</servlet-name>
        <url-pattern>/selectbyid</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.html</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
